.mmb_container{
    padding-top: 100px;
    padding-bottom: 135px;
    background-color: #fff;
}


.mmb_search{
    height:50px;
}
.mmb_main{
    margin-bottom: 4px;
}
.main{

}
.sitenav{
    width: 300px;
    margin: 10px auto;
}
.sitenav a{
    padding: 10px 8px;
    background: #f4f4f4;
    border: 1px solid #bfbfbf;
    float: left;
    margin: 0 0 5px 5px;
    color:#000;
}

.header_left{
    height:40px;
    width:40px;
    /*background-color: blue;*/
    float:left;
}
.header_left i{
    color: #fff;
    font-size: 21px;
    margin-top: 10px;
    height: 50px;
    line-height: 31px;
}
.header_right{
    height:40px;
    width:50px;
    float:right;
    position:absolute;
    right:0;
    top:0;
}
.header_right img{
    height: 34px;
    margin-left:-3px;
}
.text{
    margin-right: 40px;
    margin-right: 40px;
    text-align: center;
    height:50px;
    line-height:50px;
    color:#fff;
    font-size:18px;
    font-weight:400;
}
.text h4{
    margin-top: 17px;
}
.product_list li{
    padding: 10px 8px;
    font-size: 12px;
    background-color: #FFFFFF;
    position: relative;
    height: 120px;
    border-bottom: 1px solid #ccc;
}

.brand_nav{
    height: 35px;
    background-color: #ccc;
    line-height: 35px;
    padding-left: 20px;
}
.brand_nav a{
    color:#000;
    font-size:16px;
}
.hot_brand{
    height:38px;
    background-color:#ccc;
    margin-top: 5px;
    line-height: 38px;
    padding-left: 20px;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
}
.hot_brand a{
    color:#874604;
}
.brand_list{
    margin-top: 5px;
}
.brand_list li{
    height:35px;
    line-height: 35px;
    background-color: #c4c4c4;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #aaa;
    border-top:1px solid #aaa;
    list-style: none;
}
.brand_list li a{
    font-size:15px;
    color:#000;
    height:35px;
    width:100%;
    display: inline-block;

}
.brand_list li a i{
   font-size: 18px;
    float:right;

    transform: rotate(270deg);
}



.foot_pic .yuan{
    padding-top: 10px;
}
