* {
  margin: 0;
  padding: 0;
}
.html,
body {
  height: 100%;
}
.container {
  max-width: 750px;
  min-width: 320px;
  padding-top: 1.8rem;
  padding-bottom: 3.6rem;
}
.baicai_header {
  height: 1.8rem;
  background-color: #fe4a65;
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  position: fixed;
  top: 0;
  z-index: 999;
}
.header_left {
  height: 1.8rem;
  width: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
}
.header_left a {
  color: #fff;
  height: 1.8rem;
  width: 1.8rem;
  display: block;
  text-align: center;
  line-height: 1.8rem;
}
.header_left a i {
  font-size: 0.7rem;
}
.header_right {
  height: 1.8rem;
  width: 1.6rem;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.8rem;
  text-align: center;
}
.header_right img {
  margin-top: 0.4rem;
  height: 1.2rem;
}
.title {
  margin: 0 1.6rem;
  height: 1.8rem;
  text-align: center;
}
.title h4 {
  height: 1.8rem;
  margin: 0;
  line-height: 1.8rem;
  color: #fff;
  font-size: 0.6rem;
  font-weight: 400;
}
.main {
  padding-top: 0.2rem;
  background-color: #fff;
  height: 100%;
  position: relative;
}
.coupon_count {
  position: relative;
}
.free_coupon {
  text-align: center;
  color: #ccc;
  font-size: 0.56rem;
}
.coupon_list {
  height: 5.6rem;
  width: 100%;
  margin-top: 0.2rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.left_pic {
  padding: 0.2rem;
  padding-top: 0.5rem;
  float: left;
}
.left_pic img {
  height: 4rem;
  width: 5rem;
}
.right_pic {
  height: 6rem;
  margin-left: 5.8rem;
  margin-right: 0.2rem;
  padding-top: 0.4rem;
}
.right_pic .first {
  font-size: 0.6rem;
  line-height: 0.8rem;
}
.right_pic .coupon_price {
  display: inline-block;
  margin-top: 0.2rem;
}
.right_pic .coupon_time {
  position: absolute;
  font-size: 0.6rem;
  color: orange;
  margin-top: 0.6rem;
}
.footer {
  width: 100%;
  height: 3.2rem;
  background-color: pink;
  position: fixed;
  bottom: 0;
  background-color: #ddd;
  padding-bottom: 3.4rem;
  max-width: 750px;
  z-index: 999;
}
.footer li {
  float: left;
  width: 33.33%;
  text-align: center;
  height: 1.2rem;
  line-height: 1.2rem;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
}
.footer li a {
  color: #000;
  font-size: 0.5rem;
}
.footer li:last-child {
  border-right: none;
}
.footer_info {
  text-align: center;
  margin-top: 0.4rem;
}
.footer_info p {
  font-size: 0.5rem;
  margin-bottom: 0;
}
.footer_info p .one {
  color: red;
}
.footer_info p .two {
  color: #000;
}
.footer_info p .three {
  color: #5a5a5a;
}
.footer_info .addr {
  padding-bottom: 0.2rem;
}
